# This file works only for $ python setup.py sdist, which creates *.tar.gz, necessary for uploading to PyPI.
# It is also necessary to specify package_data in setup.py which tells what will be installed from *.tar.gz
# It is strongly advised to remove built and dist directories before new build

# A typical workflow
# $ python setup.py install       test your installation locally as it would be downloaded from PyPI server
# $ python setup.py install --user test your installation locally as a user, installs under /home/user/.local/lib/
# $ python setup.py sdist         creates an archive on local computer
# $ python setup.py register      registers to PyPI server
# $ python setup.py sdist upload  creates an archive on local computer and upload to PyPI server

#include README.txt
include mupif/doc/refManual/MuPIF-ReferenceManual-1.0.0.pdf
include mupif/doc/userManual/MuPIF-UserManual-1.0.0.pdf
#prune *.pyc - should be kept in distro
include mupif/examples/testExamples.sh
recursive-include mupif/examples *.py README *.in *.c
recursive-include mupif/APIs *.py README *.in

prune mupif/examples/Workshop02
prune mupif/examples/Workshop-2017
prune mupif/examples/PingTest
prune mupif/examples/ports
prune mupif/examples/ssh

