numpy
meshio
pytest
pytest-cov
Pyro5
serpent
jsonpickle
jsonschema
h5py
matplotlib
astropy>=6.0
deprecated
appdirs
pydantic>2.6
typing-extensions>=4.10
# for documentation
sphinx<7.0
sphinxcontrib-apidoc
sphinxcontrib-mermaid
sphinx-rtd-theme
myst-nb
setproctitle
tqdm
typer
rich
pytest-timeout
requests
uuid
